@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', 'Martel Sans', Arial, Helvetica, sans-serif;
}

body {
    background-color: black;
}

.main {
    background-image: url(Assets/Images/BGImg.jpg);
    background-position: center center;
    background-size: max(1200px, 100vw);
    background-repeat: no-repeat;
    height: 680px;
    position: relative;
}

.main .box {
    /* background: linear-gradient(149deg, #59216E 6.96%, #251743 40.17%, #120c1f 73.39%); */
    /* background: radial-gradient(11% 56% at 17% 50%, #461518 0%, transparent 100%); */
    background-color: black;
    height: 680px;
    width: 100%;
    position: absolute;
    opacity: 0.75;
    top: 0;
}

nav {
    max-width: 80vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 18px 200px;
    position: relative;
    z-index: 10;
}

.logo_img img {
    width: 140px;
}

.btn {
    display: flex;
    gap: 10px;
}

.btn1 {
    font-family: 'Poppins';
    padding: 2px 8px;
    font-weight: 500;
    font-size: 16px;
    color: white;
    background-color: rgba(42, 39, 39, 0.744);
    border-radius: 4px;
    border: 1px solid rgb(104, 99, 99);
    cursor: pointer;
}

.btn2 {
    font-family: 'Poppins';
    padding: 3px 8px;
    font-weight: bolder;
    font-size: 14px;
    color: white;
    background-color: red;
    border-radius: 4px;
    border: 1px solid red;
    cursor: pointer;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 10;
    max-width: 50vw;
    margin: auto;
    gap: 23px;
}

.text1 {
    color: white;
    font-weight: 900;
    font-size: 56px;
    text-align: center;
}

.text2 {
    color: white;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    padding-bottom: 10px;
}

.text3 {
    color: white;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

input {
    font-family: 'Poppins' 'Martel Sans';
    font-weight: 500;
    font-size: 18px;
    color: white;
    background: rgba(22, 22, 22, 0.6);
    border: 1px solid rgba(246, 238, 238, 0.5);
    border-radius: 4px;
    padding: 10px 188px 14px 14px;
}

.btn-red {
    font-family: 'Martel Sans';
    font-weight: 600;
    font-size: 27px;
    color: white;
    background-color: red;
    border: 1px solid red;
    border-radius: 4px;
    padding: 1px 16px;
    cursor: pointer;
}

.separation {
    position: relative;
}

.curve_container {
    height: 10vh;
    width: 100%;
    /* background-color: red; */
    background: linear-gradient(to right, rgba(33, 13, 22, 1) 16%, rgba(184, 40, 105, 1), rgba(229, 9, 20, 1), rgba(184, 40, 105, 1), rgba(33, 13, 22, 1) 84%);
    border-radius: 30%;
    position: absolute;
    top: 0;
}

.curve_cover {
    height: 10vh;
    width: 100%;
    background: radial-gradient(50% 500% at 50% -420%, rgba(64, 97, 231, 0.4) 80%, rgba(0, 0, 0, 0.1) 100%), black;
    border-radius: 20%;
    position: relative;
    top: 5px;
    margin: auto;
    z-index: 7;
}

.content {
    position: relative;
    max-width: 80vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.head {
    color: white;
    position: relative;
    display: flex;
    justify-content: flex-start;
    z-index: 15;
    font-weight: 500;
    font-size: 18px;
}

/* .trending {
    color: white;
    position: relative;
    display: flex;
    justify-content: flex-start;
    z-index: 15;
    font-weight: 500;
    font-size: 18px;
} */

.movies {
    position: relative;
}

.movies ul {
    padding: 0 15px 75px 15px;
    position: relative;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    overflow-y: visible;
    overflow-x: scroll;
    scrollbar-width: none;
    scroll-snap-type: x mandatory;
}

.movies ul button {
    position: relative;
    padding: 0;
    background: rgb(35, 35, 35);
    background: transparent;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

.movies ul button :hover {
    transition: transform 0.2s ease-in-out;
    transform: scale(1.05);
    background: rgb(35, 35, 35);
    background: transparent;
    border: none;
    border-radius: 0.5rem;
}

.movies ul button li img {
    width: 180px;
    height: 350px;
    object-fit: cover;
    border-radius: 25px;
    position: relative;
}

.movies ul button li span {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* display: inline-block; */
    font-weight: 700;
    font-size: 100px;
    line-height: 1;
    position: absolute;
    color: black;
    -webkit-text-stroke: 2px white;
    text-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.5);
    z-index: 12;
    left: -22px;
    bottom: 85px;
}

.join {
    position: relative;
    max-width: 80vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* .reasons {
    color: white;
    position: relative;
    z-index: 15;
    font-weight: 500;
    font-size: 18px;
} */


.layout{
    display: flex;
    justify-content: space-between;
    padding-bottom: 75px;
}

.container{
    color: white;
    background: linear-gradient(149deg, #59216E 6.96%, #251743 40.17%, #120c1f 73.39%);
    display: flex;
    flex-direction: column;
    max-width: 17vw;
    gap: 10px;
    padding: 10px 10px 75px 10px;
    border-radius: 20px;
    position: relative;
}

.container .heading{
    position: relative;
    font-family: 'Poppins' 'Martel Sans';
    font-weight: 600;
    font-size: 23px;
    color: #ffffff;
}

.container .para{
    position: relative;;
    font-family: 'Poppins' 'Martel Sans';
    font-weight: 400;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.7);
}

.container .svg{
    position: absolute;
    height: 72px;
    width: 72px;
    align-self: flex-end;
    bottom: 5px;
}

.FAQ {
    position: relative;
    max-width: 80vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 75px;
}

/* .ques {
    color: white;
    position: relative;
    z-index: 15;
    font-weight: 500;
    font-size: 18px;
} */

.queries{
    position: relative;
}

.queries ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
}

.queries ul button{
    position: relative;
    width: 100%;
    background-color: #2d2d2d;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-weight: 400;
    font-size: 24px;
}

.queries ul button :hover{
    transform: scale(1.05);
    transition: all 0.2s ease-out;
    background-color: #2d2d2d;
    border: none;
}

.queries ul button li{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 80vw;
    margin: auto;
    gap: 20px;
    padding-bottom: 75px;
}

.form span{
    font-family: sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: white;
}

.form input {
    font-family: 'Poppins' 'Martel Sans';
    font-weight: 500;
    font-size: 19px;
    color: white;
    background: rgba(22, 22, 22, 0.6);
    border: 1px solid rgba(246, 238, 238, 0.5);
    border-radius: 4px;
    padding: 10px 320px 14px 14px;
}

.last{
    position: relative;
    max-width: 80vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 35px;
    color: rgba(255, 255, 255, 0.7);
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 75px;
}

.footer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
}

.footer-item{
    display: flex;
    flex-direction: column;
    gap: 20px;    
}

footer a{
    color: rgba(255, 255, 255, 0.7);
    text-decoration-color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
}

.lastbtn button{
    font-family: 'Poppins';
    width: 10%;
    padding: 8px;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: #ffffff;
    background-color: rgba(42, 39, 39, 0.744);
    background: transparent;
    border-radius: 4px;
    border: 1px solid rgb(104, 99, 99);
    cursor: pointer;
}

form :hover{
    transform: scale(1.05);
    transition: all 0.2s ease-out;
}

.lastbtn :hover{
    transform: scale(1.15);
    transition: all 0.2s ease-out;
}

.btn :hover{
    transform: scale(1.15);
    transition: all 0.2s ease-out;
}


@media screen and (max-width: 1300px) {
    .main{
        background-size: cover;
        height: 900px;
    }

    .main .box{
        height: 900px;
    }

    nav{
        max-width: 90vw;
    }

    form {
        flex-direction: column;
    }

    .layout{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        gap: 15px;
    }

    .form span{
        text-align: center;
    }

    .form input {
        padding-right: 200px;
    }

    .footer{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        gap: 10px;
    }

    .footer-item{
        gap: 10px;    
    }
}

@media screen and (max-width: 950px){
    .lastbtn button{
        width: 75px;
        padding: 8px;
        font-weight: 400;
        font-size: 15px;
    }
}

@media screen and (max-width: 700px) {
    .main{
        background-size: cover;
        height: 1000px;
    }

    .main .box{
        height: 1000px;
    }

    input {
        padding: 10px 100px 14px 14px;
    }

    .layout{
        display: flex;
        flex-direction: column;
    }
    
    .container{
        max-width: 80vw;
    }

    .form input {
        padding-right: 70px;
    }

    .footer{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        gap: 10px;
    }

    .footer-item{
        gap: 10px;
    }
}

@media screen and (max-width: 500px){
    .form input {
        font-size: 15px;
        padding-right: 20px;
    }

    .btn-red {
        font-weight: 400;
        font-size: 20px;
    }

    .footer{
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        gap: 10px;
    }

    .footer-item{
        gap: 10px;
    }
}

